header{
    background-color: rgb(230, 241, 131);
}


h1{
    font-size: 55px;
    color: blueviolet;
    padding: 20px;
    text-align: center;
}

h2{
    font-size: 23px;
    text-transform: uppercase;
    color: blueviolet;
    font-weight: 600;
}
